<?xml version="1.0"?>
<launch>
 <arg name="estimator_parameters" default="$(find folding_assembly_controller)/input/config_estimator.yaml"/>
 <rosparam command="load" file="$(arg estimator_parameters)"/>
 <node name="estimator_node" pkg="folding_assembly_controller" type="estimator_node" output="screen"/>
</launch>
